<h2>Resend confirmation instructions</h2>
<div class="passwords">
  <%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
<ul>
      <li>Email</li>
      <li><%= f.email_field :email %></li>
       <li><%= f.submit "Reset Passoword" %></li>
 </ul>

<% end %>

<%= render :partial => "devise/shared/links" %>
