<h2>Edit User</h2>
<div class="createprofile">
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
<ul >
			<li>Email</li>
			<li><%= f.email_field :email %></li>
</ul>
<ul >
			<li>Password</li>
			<li><%= f.password_field :password %><br/>
						<i>(leave blank if you don't want to change it)</i>
			</li>
</ul>
<ul >
			<li>Password Confirmation</li>
			<li><%= f.password_field :password_confirmation %></li>
</ul>
<ul >
			<li>Current Password</li>
			<li><%= f.password_field :current_password %><br/>
					<i>(we need your current password to confirm your changes)</i>
			</li>
</ul>
<ul >
			<li><%= f.submit "Update" %></li>
</ul>
<ul >
			<li style="width:500px;"><h3>Cancel my account</h3></li>
</ul>
<ul >
			<li style="width:500px;"><p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p></li>
</ul>
<ul >
			<li style="width:500px;"><%= link_to "Back", :back %></li>
</ul>
<% end %>
 
</div>
