<h2>Sign up</h2>
<div class="createprofile">
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>  
 <ul >
			<li>Email</li>
			<li><%= f.email_field :email %></li>
	</ul>
	<ul >
			<li>Password</li>
			<li><%= f.password_field :password %></li>
	</ul>
	<ul >
			<li>Password Confirmation</li>
			<li><%= f.password_field :password_confirmation %></li>
	</ul>
	
	<ul >
			<li><%= f.submit "Sign up" %></li>
	</ul>

<% end %>

</div>
<div style="width:100%; height:auto; float:left;">
<%= render :partial => "devise/shared/links" %>
</div>
