<h1>Welcome <% if user_signed_in?   %><%= current_user.email %><% else %>Guest!<% end %></h1>

<div class="myprofile">
  <% if user_signed_in?   %>    
			<ul>
			<li style="width:500px; text-align:center; padding:10px 0;"></li>
      <li style="width:500px; text-align:center;padding:10px 0;">
      <%= link_to image_tag("profile_button.jpg",:widht=>'100px'), "profile/#{current_user.id}" %>
      </li>
			<li>Articles</li>
			<% listofarticle= current_user.profile.article 
			listofarticle.each do |art|%>
			
			<li><%= link_to "#{art.title}" ,"articles/#{art.id}" %><li>
			<% end %>
    </ul>
     
  <% else %>
    <ul>
      <li style="width:500px; text-align:center; padding:10px 0;">
      <%= link_to  image_tag("sign_up_button.png"), new_user_registration_path %>  
      </li>
      <li style="width:500px; text-align:center; padding:10px 0;">OR</li>
      <li style="width:500px; text-align:center; padding:10px 0;">
      <%= link_to image_tag("login_button.png"), new_user_session_path %>
      </li>
			
    </ul>
    
  <% end %>
</div>
