<h1>Edit your profile</h1>
<div class="createprofile">
<%= form_for(@profile, :url => "/profile/#{current_user.id}", :method=>:put,:html => { :multipart => true }) do |f| %>
<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li style="width:500px;"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<ul >
			<li>Name</li>
			<li><%= f.text_field :name %></li>
	</ul>
	<ul >
			<li>Dob</li>
			<li><%= f.text_field :dob %></li>
	</ul>
	
	<ul >
			<li>Gender</li>
			<li>
				<%= f.radio_button :gender, true %> <%= f.label :gender, "Male" %>
				<%= f.radio_button :gender, false %> <%= f.label :gender, "Female" %>
			</li>
	</ul>
	<ul >
			<li>Mobile</li>
			<li><%= f.text_field :mobile %></li>
	</ul>
	<ul >
			<li>City</li>
			<li><%= f.select :city, options_for_select(["Chennai", "Delhi", "Bangalore", "Mumbai"]) %></li>
	</ul>
	<ul >
			<li>State</li>
			<li><%= f.text_field :state %></li>
	</ul>
 <ul >
			<li>Country</li>
			<li><%= f.text_field :country %></li>
	</ul>
	<ul >
			<li>Zip</li>
			<li><%= f.text_field :zip %></li>
	</ul>
	<ul >
			<li>Photo</li>
			<li> <%= f.file_field :photo %></li>
	</ul>

<ul >
			<li style="width:400px;">		<% if  current_user.profile.photo_file_name==nil %>
				<%= image_tag "default.png", :width=>"100", :height=>"100" %>
		<% else %>		
				<%= image_tag @profile.photo.url(:thumb)%>
		<% end %>
	 </li>
</ul>
		<ul >
			<li>	
			<%= f.submit "Update" %>
	     <%= button_to "Cancel", :action=>"show", :controller=>"profile" %></li>
	</ul>

<% end %>
</div>

